.rsp-table-menu li button,
.rsp-table-modal li button {
  background: none;
  border: none; }
  .rsp-table-menu li button:focus,
  .rsp-table-modal li button:focus {
    outline: none; }

.rsp-table-menu ul,
.rsp-table-modal ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.rsp-table.sticky thead {
  margin: 0 5%;
  max-width: 1300px;
  width: 90%; }
  @media all and (min-width: 1430px) {
    .rsp-table.sticky thead {
      margin: 0 auto;
      width: 1300px; } }

.reveal-modal {
  box-shadow: none;
  top: 2em; }
  @media screen and (min-width: 800px) {
    .reveal-modal {
      top: 4em; } }
  .reveal-modal .modal-header {
    background: none;
    border-bottom: none;
    padding: 0; }
  .reveal-modal .close-reveal-modal {
    color: #2b929c;
    font-size: 40px;
    font-weight: normal;
    right: 10px;
    top: 14px; }

.rsp-table-menu li,
.rsp-table-modal li {
  padding: .5em; }
  .rsp-table-menu li.selected button:before,
  .rsp-table-modal li.selected button:before {
    color: #7f7f7f; }
  .rsp-table-menu li button,
  .rsp-table-modal li button {
    transition: color 500ms ease-out; }
    .rsp-table-menu li button:before,
    .rsp-table-modal li button:before {
      content: '\276f';
      color: #fff;
      margin-right: .5em;
      transition: inherit; }
    .rsp-table-menu li button:focus, .rsp-table-menu li button:hover,
    .rsp-table-modal li button:focus,
    .rsp-table-modal li button:hover {
      color: #2b929c; }
      .rsp-table-menu li button:focus:before, .rsp-table-menu li button:hover:before,
      .rsp-table-modal li button:focus:before,
      .rsp-table-modal li button:hover:before {
        color: #32e6f7; }
  @media screen and (min-width: 480px) {
    .rsp-table-menu li[data-break="3"],
    .rsp-table-modal li[data-break="3"] {
      display: none; } }
  @media screen and (min-width: 800px) {
    .rsp-table-menu li[data-break="5"],
    .rsp-table-modal li[data-break="5"] {
      display: none; } }

.lt-ie9 .rsp-table-menu {
  display: none; }

@media all and (min-width: 1000px) {
  .rsp-table-menu {
    display: none; } }
.rsp-table-menu ul,
.rsp-table-menu .toggle {
  background-color: #fff;
  border: 2px solid #d8dcdc;
  font-size: 90%;
  position: absolute;
  right: 0;
  top: 2.4rem; }
.rsp-table-menu .toggle {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: .25em 1.5em; }
.rsp-table-menu ul {
  border-radius: 0 0 4px 4px;
  border-top: none;
  box-shadow: 0 2px 2px rgba(171, 171, 171, 0.5);
  box-sizing: border-box;
  margin-top: -1px;
  padding: 0;
  width: 50%; }
  @media screen and (min-width: 480px) {
    .rsp-table-menu ul {
      width: 30%; } }
  @media screen and (min-width: 800px) {
    .rsp-table-menu ul {
      width: 20%; } }
@media (max-height: 480px) {
  .rsp-table-menu ul {
    height: auto;
    max-width: 75%;
    width: auto; }
    .rsp-table-menu ul li {
      display: inline-block; } }
.rsp-table-menu li.selected {
  display: none; }
.rsp-table-menu li button {
  display: block;
  padding: .5em;
  text-align: left;
  width: 100%; }

.rsp-table-modal .modal-body {
  padding: 1em; }
.rsp-table-modal ul {
  padding-top: 1.5em; }
.rsp-table-modal li {
  border-bottom: 1px solid #d8dcdc; }
  .rsp-table-modal li:last-child {
    border-bottom: none; }
  .rsp-table-modal li.selected {
    background-color: #ddd;
    border-color: #ccc;
    border-radius: 2px; }
  .rsp-table-modal li button {
    margin: 0 auto;
    display: block;
    padding: .5em 1em;
    width: 100%; }
    @media screen and (min-width: 800px) {
      .rsp-table-modal li button {
        min-width: 50%;
        width: auto; } }
    .rsp-table-modal li button:before {
      color: #eee; }

.lt-ie10 .rsp-table.sticky th:first-child {
  width: 336px; }
  @media screen and (min-width: 480px) {
    .lt-ie10 .rsp-table.sticky th:first-child {
      width: 480px; } }
  @media screen and (min-width: 800px) {
    .lt-ie10 .rsp-table.sticky th:first-child {
      width: 400px; } }
  @media screen and (min-width: 1000px) {
    .lt-ie10 .rsp-table.sticky th:first-child {
      width: 390px; } }

.rsp-table {
  border: none;
  position: relative;
  table-layout: fixed;
  width: 100%; }
  @media screen and (min-width: 1000px) {
    .rsp-table {
      position: static; } }
  .rsp-table.sticky colgroup {
    display: table-header-group;
    width: 100%; }
    @media screen and (min-width: 1000px) {
      .rsp-table.sticky colgroup {
        display: table-column-group; } }
  .rsp-table.sticky thead {
    display: table;
    margin: 0;
    min-width: 288px;
    position: fixed;
    table-layout: fixed;
    top: 0; }
  .rsp-table.sticky tr:first-child td {
    padding-top: 4em; }
  @media screen and (max-width: 999px) {
    .rsp-table th.rsp-menu-open:before {
      background-color: #eee;
      border: 2px solid #d8dcdc;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      z-index: -1;
      content: '';
      position: absolute;
      height: 2.4rem;
      top: 0;
      right: 0;
      left: 50%; } }
  @media screen and (max-width: 999px) and (min-width: 480px) {
    .rsp-table th.rsp-menu-open:before {
      left: 70%; } }
  @media screen and (max-width: 999px) and (min-width: 800px) {
    .rsp-table th.rsp-menu-open:before {
      left: 80%; } }
  @media screen and (max-width: 999px) {
    .rsp-table col,
    .rsp-table td,
    .rsp-table th {
      display: none; }
      .rsp-table col:first-child, .rsp-table col.mobile-show,
      .rsp-table td:first-child,
      .rsp-table td.mobile-show,
      .rsp-table th:first-child,
      .rsp-table th.mobile-show {
        display: table-cell; } }
  @media screen and (max-width: 999px) and (min-width: 480px) {
    .rsp-table col[data-priority="6"], .rsp-table col.pri-6,
    .rsp-table td[data-priority="6"],
    .rsp-table td.pri-6,
    .rsp-table th[data-priority="6"],
    .rsp-table th.pri-6 {
      display: table-cell; }
    .rsp-table col[data-priority="5"], .rsp-table col.pri-5,
    .rsp-table td[data-priority="5"],
    .rsp-table td.pri-5,
    .rsp-table th[data-priority="5"],
    .rsp-table th.pri-5 {
      display: table-cell; } }
  @media screen and (max-width: 999px) and (min-width: 480px) and (max-width: 799px) {
    .rsp-table col[data-priority="5"].mobile-hide, .rsp-table col.pri-5.mobile-hide,
    .rsp-table td[data-priority="5"].mobile-hide,
    .rsp-table td.pri-5.mobile-hide,
    .rsp-table th[data-priority="5"].mobile-hide,
    .rsp-table th.pri-5.mobile-hide {
      display: none; } }

  @media screen and (max-width: 999px) and (min-width: 800px) {
    .rsp-table col[data-priority="4"], .rsp-table col.pri-4,
    .rsp-table td[data-priority="4"],
    .rsp-table td.pri-4,
    .rsp-table th[data-priority="4"],
    .rsp-table th.pri-4 {
      display: table-cell; }
    .rsp-table col[data-priority="3"], .rsp-table col.pri-3,
    .rsp-table td[data-priority="3"],
    .rsp-table td.pri-3,
    .rsp-table th[data-priority="3"],
    .rsp-table th.pri-3 {
      display: table-cell; }
      .rsp-table col[data-priority="3"].mobile-hide, .rsp-table col.pri-3.mobile-hide,
      .rsp-table td[data-priority="3"].mobile-hide,
      .rsp-table td.pri-3.mobile-hide,
      .rsp-table th[data-priority="3"].mobile-hide,
      .rsp-table th.pri-3.mobile-hide {
        display: none; } }

  .rsp-table td,
  .rsp-table th {
    padding: .5em;
    word-wrap: break-word; }
  .rsp-table tr:first-child td {
    padding-top: 2em; }
  .rsp-table th {
    border-bottom: 2px solid #d8dcdc;
    text-align: left; }
    .rsp-table th + th {
      text-align: center; }
    .rsp-table th:first-child span {
      border-left: none;
      display: block; }
  .rsp-table td {
    border-bottom: 1px solid #d8dcdc;
    text-align: left; }
    .rsp-table td + td {
      text-align: center; }

@media print {
  .rsp-table-menu {
    display: none; }

  .rsp-table.sticky thead {
    display: table-header-group;
    position: static; } }

/*# sourceMappingURL=responsivize.css.map */
